<div class="form-group">
  <label for="txtName">Request:</label>
  <input type="text" id="txtName" class="form-control" data-ng-model="Item.name" required />
</div>
<div class="form-group">
  <label for="txtTag">Tag Name</label>
  <input type="text" id="txtTag" class="form-control" data-ng-model="Item.tag" required />
</div>
<div class="form-group">
  <button class="btn btn-primary" data-ng-click="save()">Save</button>
  <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
</div>